In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('usa_00005.csv')
df

,YEAR,MULTYEAR,DATANUM,SERIAL,CBSERIAL,HHWT,STATEFIP,COUNTYFIP,PUMA,GQ,OWNERSHP,OWNERSHPD,PERNUM,PERWT,SEX,AGE,RACE,RACED,HISPAN,HISPAND
0,2016,2012,5,1,2012000000002,3,5,0,1500,1,2,22,1,3,1,55,1,100,0,0
1,2016,2012,5,2,2012000000009,22,13,67,3005,1,2,22,1,22,2,74,2,200,0,0
2,2016,2012,5,2,2012000000009,22,13,67,3005,1,2,22,2,26,2,68,2,200,0,0
3,2016,2012,5,3,2012000000010,22,13,0,100,1,1,13,1,23,1,69,2,200,0,0
4,2016,2012,5,3,2012000000010,22,13,0,100,1,1,13,2,26,2,53,2,200,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15681922,2016,2016,5,6838804,2016001521445,6,47,0,400,1,1,13,1,6,1,58,1,100,0,0
15681923,2016,2016,5,6838804,2016001521445,6,47,0,400,1,1,13,2,7,2,57,1,100,0,0
15681924,2016,2016,5,6838804,2016001521445,6,47,0,400,1,1,13,3,9,1,23,1,100,0,0
15681925,2016,2016,5,6838804,2016001521445,6,47,0,400,1,1,13,4,9,1,21,1,100,0,0
15681926,2016,2016,5,6838804,2016001521445,6,47,0,400,1,1,13,5,8,1,22,8,802,0,0

In [7]:
df.columns

Index(['YEAR', 'MULTYEAR', 'DATANUM', 'SERIAL', 'CBSERIAL', 'HHWT', 'STATEFIP',
       'COUNTYFIP', 'PUMA', 'GQ', 'OWNERSHP', 'OWNERSHPD', 'PERNUM', 'PERWT',
       'SEX', 'AGE', 'RACE', 'RACED', 'HISPAN', 'HISPAND'],
      dtype='object')