In [1]:
import pandas as pd

In [2]:
df_eoc = pd.read_csv('../dataset/EOC_2019_By_Grad_FEB_24_2020 (1).csv')

C:\Users\hsueh\Conda\envs\PythonEnv3.9\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_id_subgroup = df_eoc.groupby(['SCHOOL_DISTRCT_CD', 'SUBGROUP_NAME']).mean().reset_index()
df_id_sub_noall = df_id_subgroup.loc[df_id_subgroup['SUBGROUP_NAME'] != 'All Students']

In [4]:
subgroup_clean = df_id_sub_noall.rename(columns=
    {
        'SCHOOL_DISTRCT_CD' : 'School District Code'
    }
)

In [5]:
subgroup_clean.to_csv('../data_export/subgroup_EOC.csv')

In [6]:
df_id_type = df_eoc.groupby(['SCHOOL_DISTRCT_CD', 'TEST_CMPNT_TYP_NM']).mean().reset_index()

In [7]:
df_id_type.rename(columns={
    'SCHOOL_DISTRCT_CD' : 'School District Code'
})

,SCHOOL_DISTRCT_CD,TEST_CMPNT_TYP_NM,ACDMC_LVL,BEGIN_PCT,DEVELOPING_PCT,PROFICIENT_PCT,DISTINGUISHED_PCT
0,601,9th Grade Literature and Composition,9.400000,19.733333,36.633333,35.225000,8.416667
1,601,Algebra I,9.640000,29.439130,43.404348,23.039130,4.126087
2,601,American Literature and Composition,10.684211,38.905556,32.005556,22.272222,6.827778
3,601,Biology,9.562500,28.260000,23.393333,38.006667,10.340000
4,601,Economics/Business/Free Enterprise,11.785714,18.675000,32.041667,39.775000,9.525000
...,...,...,...,...,...,...,...
1634,ALL,Coordinate Algebra,9.635294,38.124706,26.770588,21.082353,14.021176
1635,ALL,Economics/Business/Free Enterprise,9.827586,27.562069,26.832184,33.214943,12.398851
1636,ALL,Geometry,9.897727,32.318182,21.345455,19.939773,26.402273
1637,ALL,Physical Science,9.921348,36.112500,28.673864,26.936364,8.282955
1638,ALL,US History,10.528571,39.568116,29.001449,23.195652,8.239130

In [12]:
type_clean = df_id_type.copy()
type_clean

,SCHOOL_DISTRCT_CD,TEST_CMPNT_TYP_NM,ACDMC_LVL,BEGIN_PCT,DEVELOPING_PCT,PROFICIENT_PCT,DISTINGUISHED_PCT
0,601,9th Grade Literature and Composition,9.400000,19.733333,36.633333,35.225000,8.416667
1,601,Algebra I,9.640000,29.439130,43.404348,23.039130,4.126087
2,601,American Literature and Composition,10.684211,38.905556,32.005556,22.272222,6.827778
3,601,Biology,9.562500,28.260000,23.393333,38.006667,10.340000
4,601,Economics/Business/Free Enterprise,11.785714,18.675000,32.041667,39.775000,9.525000
...,...,...,...,...,...,...,...
1634,ALL,Coordinate Algebra,9.635294,38.124706,26.770588,21.082353,14.021176
1635,ALL,Economics/Business/Free Enterprise,9.827586,27.562069,26.832184,33.214943,12.398851
1636,ALL,Geometry,9.897727,32.318182,21.345455,19.939773,26.402273
1637,ALL,Physical Science,9.921348,36.112500,28.673864,26.936364,8.282955
1638,ALL,US History,10.528571,39.568116,29.001449,23.195652,8.239130

In [9]:
type_clean.to_csv('../data_export/type_group_EOC.csv')